{% extends "BackendBundle::layout.html.twig" %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}
    
{% block title %}
    FDN
{% endblock %}

{% block containerSection %}

    {{ parent() }} 

    <div class="line margin-top-1"></div>
    
    <div class="row"> 
         <div class="span12 font-1 pad-2">
             <h1>Oops! An Error Occurred</h1>
         </div>
    </div>  
    
    <div class="line"></div>
    
    <div class="row"> 
        <div class="span12">
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        </div>
    </div>
            
{% endblock %}

{# No se carga ningun script #}    
{% block javascripts %}{% endblock %}