<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="sinCuenta" role="tab" data-toggle="tab">Sin cuenta</a></li>
    <li role="presentation"><a href="#profile" aria-controls=conCuenta"conCuenta" role="tab" data-toggle="tab">Con cuenta</a></li>
    <li role="presentation"><a href="#messages" aria-controls="newCuenta" role="tab" data-toggle="tab">Crear cuenta</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="sinCuenta">
          <form></form>
      </div>
    <div role="tabpanel" class="tab-pane" id="conCuenta">...</div>
    <div role="tabpanel" class="tab-pane" id="newCuenta">...</div>
  </div>

</div>