{% set nombreEmpresa = getParameter('nombre_empresa_app') %}
<small class="text-left">
<ol>
    <li>
        <strong class="uppercase">{{ nombreEmpresa }}</strong>, se compromete a esforzarse para transportar su carga y encomiendas con diligencia 
        razonable sin perjuicio para la empresa.
    </li>
    <li>
        Su embarque podrá enviarse sujeto a espacio.
    </li>
    <li>
        Su embarque, si usted lo presenta 60 minutos antes de los horarios de salida todavía podrá manifestarse, de lo contrario quda sujeto a espacio 
        en otro horario del mismo día o hasta del día seguiente.
    </li>
    <li>
        La empresa se responsabiliza hasta 15 días de la recepción de la encomienda, caso contrario, no espondemos por la misma.
    </li>
    <li>
        La empresa no se responsabiliza por carga o encomienda mal empacada la que se hará referencia en la guía respectiva.
    </li>
    <li>
        Se responderá unicamente por el doble del valor de lo pagado por el flete en la guía de factura de encomienda.
    </li>
    <li>
        Es terminantemente prohibido transportar en <strong class="uppercase">{{ nombreEmpresa }}</strong> cualquier tipo de rogas, 
        gases comprimidos, corrosivos, explosivos, materiales oxidantes, venenos liquidos y sólidos.
    </li>
    <li>
        Por su propia seguridad declare el contenido del embarque cuando sea totalmente sellada de fábrica,de los contrario se hará el registro respectivo.
    </li>
    <li>
        <strong class="uppercase">{{ nombreEmpresa }}</strong>  no asume responsabilidad alguna por artículos, frágiles o de naturaleza perecedera.
    </li>
    <li>
        El embarque fabricado será facturado al nombre del consignatario.
    </li>
    <li>
        Ningún agente, Empleado o representante de <strong class="uppercase">{{ nombreEmpresa }}</strong> tendrá autorización para alterar, 
        modificar o renunciar a cualquiera de las disposiciones de este contrato.
    </li>
    <li>
        La encomienda se almacenará 2 días después de su recepción, tiempo adicional se cobrará a razón de Q 1.00 diario.
    </li>
</ol>
</small>