<section class="feedback" id="feedback">
    <div class="container">
        <div class="heading">
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="">
            <h2>Compra en linea</h2>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="">
        </div>
        <div class="restmenuwrap text-center alert alert-danger">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             La compra en linea esta temporalmente fuera de servicio.
            <BR><BR>
        </div>
    </div>
</section>