<section class="gallery" id="gallery">
    <div class="container">
        <div class="heading text-center">
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="">
            <h2>Galerias</h2>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="restmenuwrap text-center">
                    <p>En esta seccion podra ver diversas galerias de imagenes y videos de la historio de fuente del norte.</p> 
                    <p>
                        <a href="{{ path('gallery_home') }}" class="btn btn-default btn-sm" role="button">Ir a Galeria</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>