<small>
<p>
Una de las historias más completas, relacionadas con los sueños, el trabajo y la familia a sido sin duda alguna, la de nuestra empresa Transportes Fuente Del Norte.
</p>
<p>
En el año de 1959, Don Alfredo Mendoza Pellicer, tuvo la iniciativa de fomentar una pequeña empresa familiar de transporte, conjuntamente con su Sra. Esposa, esto debido a que existía una necesidad de un transporte de la aldea de Mariscos al cruce de Trincheras, ante esta posibilidad la familia Mendoza Pellicer, inicio con una modesta camioneta de 3 asientos, de Mariscos a la aldea de Los Amates y de aldea Mariscos a la Cabecera departamental de Izabal, Puerto Barrios.
</p>
<p>
Es de esta manera que esta empresa familiar, inicia como un verdadero visionario de la transportación terrestre, empezando a generar empleo en este pionero ramo desde sus primeros años de existencia, logrando sobresalir primero, por su calidad de servicio a la población y segundo, por su tenacidad a tratar de mejorar día con día.   
</p>
<p>
Su esfuerzo no fue en vano y su trabajo arduo y tenaz logro cosechar nuevos retos, debido a que con la consolidación  de la empresa al pasar de los años, se inicio una nueva etapa de servicio. En 1964 Transportes Fuente del Norte, inicio una nueva ruta de transporte, partiendo de Bananera hacia la Capital guatemalteca y viceversa, esto era un logro realmente grande para la empresa, pero a la vez representaba un verdadero reto por la distancia y el servicio, si a esto se le suma las deplorables condiciones de la carretera existentes en esa década, el reto era todavía aun mayor.
</p>
<p>
5 años mas tarde debido a la tenacidad de la empresa, Transportes Fuente Del Norte logra apuntarse otro éxito mas, cuando consigue la posibilidad de contar con una nueva ruta, cubriendo el área del Atlántico y transportándose diariamente hacia el departamento de Peten, este logro no fue producto de la casualidad, sino mas bien fue resultado del esfuerzo diario de sus propietarios y equipo de trabajo, de ganarse el respeto y admiración no solo de clientes y amigos, sino también de la población guatemalteca, su fama de puntualidad, servicio y seguridad, pronto los coloco como una verdadera empresa líder.
</p>
<p>
Don Alfredo Mendoza de esta manera lograba una nueva historia en el mundo de la transportación terrestre en nuestro país de Guatemala, logrando de esta manera un legado familiar, que se convertiría en una de las empresas de transporte mas solidas no solo en Guatemala sino también en Centro América. Esta herencia familiar se vio incrementada con la aparición de los hijos, quienes hasta estas fechas continúan haciéndola grande y cada día mas solida esta empresa.
</p>
<p>
Con el engrandecimiento del país la empresa crece y se fortalece al mismo tiempo, que continua mejorando los servicios, por la diversidad de las exigencias de la modernidad en el ramo de la transportación terrestre. Transportes Fuente Del Norte, dando respuesta a esta exigencia de las nuevas tendencias, brinda su nuevo servicio denominado Clase Oro, este servicio en su momento revoluciono los estándares de la transportación en Guatemala, con autobuses de primera clase equipados, con asientos cómodos y reclinables, aire acondicionado, sistemas estereofónicos de música y equipados con servicio de entretenimiento televisivo.
</p>
<p>
Esta misma demanda de estar a la vanguardia en la preferencia de los guatemaltecos, hace que nuestra empresa rebase no solo las distancias en nuestra nación, sino que se consolida como una empresa de expansión internacional, logrando acercar al viajero a los países como Honduras, El Salvador y Belice, países donde Transportes Fuente del Norte La Pionera, cuenta con presencia con su nueva flota de autobuses de nueva generación, poniéndose en la vanguardia de los nuevos autobuses europeos, tipo GL.
</p>
<p>
Como una constante cada día, Transportes Fuente del Norte La Pionera, continúa innovando y en el 2015 estrena su nueva flota de Vehículos Marco Polo Scania 2015, equipados todo lujo en sus 2 niveles, contando con servicio de televisión digital, auriculares individuales, servicio de aire acondicionado automatizado, sistema de Wi-Fi, asientos semi-cama, ventanas panorámicas, 2 baños para mayor comodidad, servicio de cafetería, etc.
</p>
<p>
Han transcurrido más de medio siglo y Transportes Fuente del Norte la Pionera, continua en la preferencia de las familias guatemaltecas, ofreciéndoles viajes seguros y cómodos, brindándoles como lo establecen las autoridades de transportación terrestre y servicio publico de Guatemala, un seguro de pasajero, que lo asegura en caso de algún accidente con terceros, brindándole de esta manera la seguridad de que viajar con nosotros, es no solo su mejor opción sino que además usted y los suyos mantendrán esa seguridad de viajar tranquilo y seguro.
</p>
<p>
Si usted no a viajado con nosotros, no dude de abordar nuestra flota, créanos que es una magnifica experiencia de confort y seguridad, nuestros 56 años de existencia nos autentifican como la mejor línea de transportación terrestre en Guatemala, Transporte Fuente del Norte, cada día mas cerca de usted.   
</p>
</small>

