<div style='cursor: pointer;'><img src="{{ asset('bundles/maya/images/seguro.png') }}" style='margin-right: 22px;'>Cobertura de seguro</div>
    <div style='text-align: justify;'>
        <p>La empresa asegura a los pasajeros, piloto y ayudante en caso de un hecho de tr&aacute;nsito en el cual el autobus sea part&iacute;cipe y ocurra:</p>
        <p>a) Muerte accidental. Se pagar&aacute;n 50 salarios mensuales m&iacute;nimos del Sector Agr&iacute;cola.</p>
        <p>b) Desmembraciones. Se pagar&aacute; el saldo correspondiente seg&uacute;n las condiciones.</p>
        <p>b) Lesiones Corporales. Se pagar&aacute; el saldo correspondiente seg&uacute;n las condiciones.</p>
    </div>