<div>
    {#
    <div data-target="#privacidadDatos" data-toggle="collapse" class="collapsed" style='cursor: pointer;'><img src="{{ asset('bundles/maya/images/privacidad.png') }}" style='margin-right: 7px;'> Politica de privacidad del sitio</div>
    <div id='privacidadDatos' class='collapse'>
        
    </div>
    #}
    <div data-target="#viaje" data-toggle="collapse" class="collapsed" style='cursor: pointer;'><img src="{{ asset('bundles/maya/images/seguro.png') }}" style='margin-right: 22px;'>T&eacute;rminos de viaje</div>
    <div id='viaje' class='collapse' style='text-align: justify;'>
        <ul>
            <li>El boleto solo es v&aacute;lido para la fecha y hora de viaje.</li>
            <li>No se puede cambiar el asiento del boleto.</li>
            <li>No se pueden cancelar la compra.</li>
        </ul>
    </div>
</div>