 <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Login with social network</h2>
    <div class="login-wrap">
        <div class="login-social-link">
            {#<a href="{{ path('secured_login_facebook') }}" class="facebook">
                <i class="icon-facebook"></i>
                Facebook
            </a>
            <a href="{{ path('hwi_oauth_login') }}" class="twitter">
                <i class="icon-twitter"></i>
                Twitter
            </a>
            <a href="{{ path('hwi_oauth_login') }}" class="google">
                <i class="icon-google"></i>
                Google
            </a>#}
        </div>         
    </div>
</form>